<div id="page-top" style="margin-top: -60px;">
  <div id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        <app-dash-nav></app-dash-nav>
        <div class="container-fluid">
          <div class="d-sm-flex justify-content-between align-items-center
            mb-4">
            <h3 class="text-dark mb-0">Dashboard</h3>
          </div>
          <app-reports class="m-5"></app-reports>
          <app-graphs></app-graphs>
          <app-projects></app-projects>
        </div>
      </div>
    </div>

  </div>
