/* You can add global styles to this file, and also import other style files */
body{
  padding-top:60px ;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/***********************************************************/

html {
  --scrollbarBG: rgb(30, 30, 31);
  --thumbBG: rgb(11, 182, 39);
}

body::-webkit-scrollbar {
  width: 10px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 25px;
  border: 0px solid var(--scrollbarBG);
}

.nav-link {
  color: rgb(6, 143, 97);
  font-size: large;
  font-weight: bold;
  font-family: 'Trebuchet MS',
  'Lucida Sans Unicode',
  'Lucida Grande',
  'Lucida Sans',
  Arial,
  sans-serif;
}
