<div class="container">
  <div class="row">
    <div routerLink="/" class="col btn btn-light m-3">Apple<img class="prand" src="../../../../assets/img/company-prands/apple.ico" alt='...'></div>
    <div routerLink="/" class="col btn btn-light m-3">Samsung <img class="prand" src="../../../../assets/img/company-prands/samsung.ico" alt='...'></div>
    <div routerLink="/" class="col btn btn-light m-3">Xiaomi <img class="prand" src="../../../../assets/img/company-prands/xiaomi.png" alt='...'></div>
    <div routerLink="/" class="col btn btn-light m-3">Oppo <img class="prand" src="../../../../assets/img/company-prands/oppo.png" alt='...'></div>
    <div routerLink="/" class="col btn btn-light m-3">Huawei <img class="prand" src="../../../../assets/img/company-prands/huawei.ico" alt='...'></div>
    <div routerLink="/" class="col btn btn-light m-3">Nokia <img class="prand" src="../../../../assets/img/company-prands/nokia.png" alt='...'></div>

  </div>
</div>
