<hr class="hr my-5">
<!--  Apple -->
<div class="alert alert-primary m-5" *ngIf="!loading">Loading...</div>
<div *ngIf="loading">
  <section class="container text-center mb-4" *ngIf="apple.length>1">
  <h3>Apple</h3>
  <div class="row wow fadeIn">
    <div class="col-lg-3 col mb-2" *ngFor="let mobile of apple | paginate: {
      itemsPerPage: 4, currentPage: p }">
      <div class="card">
        <a routerLink="/product/{{mobile._id}}"> <img
            src="{{mobile.stock[0].image}}" class="img" alt="{{mobile.name}}"></a>
        <h3>{{mobile.name}}</h3>
        <span><strong>{{mobile.stock[0].price}}$</strong></span>
        <span>
           <i class="fas fa-star text-warning " style="font-size: 20px;">{{mobile?.rates.length}}</i>
           <i (click)="handleAddProductToCard(mobile._id, mobile.stock[0]?.color)" class="fas fa-shopping-cart ms-3 cartIcon "></i>
        </span>

      </div>
    </div>
    <div class="col-12">
      <a routerLink="/company" [queryParams]="{ name: 'apple'}"><button
          class="btn btn-primary m-2">Show more</button></a>
    </div>
  </div>
</section>
<!--  Samsung -->
<section class="container text-center mb-4" *ngIf="samsung.length>1">
  <hr>
  <h3>Samsung</h3>
  <div class="row wow fadeIn">
    <div class="col-lg-3 col mb-2" *ngFor="let mobile of samsung | paginate: {
      itemsPerPage: 4, currentPage: p }">
      <div class="card">
        <a routerLink="/product/{{mobile._id}}"> <img
            src="{{mobile.stock[0].image}}" class="img" alt="{{mobile.name}}"></a>
        <h3>{{mobile.name}}</h3>
        <span><strong>{{mobile.stock[0].price}}$</strong></span>
        <span>
           <i class="fas fa-star text-warning " style="font-size: 20px;">{{mobile?.rates.length}}</i>
           <i (click)="handleAddProductToCard(mobile._id, mobile.stock[0]?.color)" class="fas fa-shopping-cart text-secondary ms-3 cartIcon "></i>
        </span>

      </div>
    </div>
    <div class="col-12">
      <a routerLink="/company" [queryParams]="{ name: 'samsung'}"><button
          class="btn btn-primary m-2">Show more</button></a>
    </div>
  </div>
</section>
<!--  Xiaomi -->
<section class="container text-center mb-4" *ngIf="xiaomi.length>1">
  <hr>
  <h3>Xiaomi</h3>
  <div class="row wow fadeIn">
    <div class="col-lg-3 col mb-2" *ngFor="let mobile of xiaomi | paginate: {
      itemsPerPage: 4, currentPage: p }">
      <div class="card">
        <a routerLink="/product/{{mobile._id}}"> <img
            src="{{mobile.stock[0].image}}" class="img" alt="{{mobile.name}}"></a>
        <h3>{{mobile.name}}</h3>
        <span><strong>{{mobile.stock[0].price}}$</strong></span>
        <span>
           <i class="fas fa-star text-warning " style="font-size: 20px;">{{mobile?.rates.length}}</i>
           <i (click)="handleAddProductToCard(mobile._id, mobile.stock[0]?.color)" class="fas fa-shopping-cart text-secondary ms-3 cartIcon "></i>
        </span>

      </div>
    </div>
    <div class="col-12">
      <a routerLink="/company" [queryParams]="{ name: 'xiaomi'}"><button
          class="btn btn-primary m-2">Show more</button></a>
    </div>
  </div>
</section>
<!--  Oppo -->
<section class="container text-center mb-4" *ngIf="oppo.length>1">
  <hr>
  <h3>Oppo</h3>
  <div class="row wow fadeIn">
    <div class="col-lg-3 col mb-2" *ngFor="let mobile of oppo | paginate: {
      itemsPerPage: 4, currentPage: p }">
      <div class="card">
        <a routerLink="/product/{{mobile._id}}"> <img
            src="{{mobile.stock[0].image}}" class="img" alt="{{mobile.name}}"></a>
        <h3>{{mobile.name}}</h3>
        <span><strong>{{mobile.stock[0].price}}$</strong></span>
        <span>
           <i class="fas fa-star text-warning " style="font-size: 20px;">{{mobile?.rates.length}}</i>
           <i (click)="handleAddProductToCard(mobile._id, mobile.stock[0]?.color)" class="fas fa-shopping-cart text-secondary ms-3 cartIcon "></i>
        </span>

      </div>
    </div>
    <div class="col-12">
      <a routerLink="/company" [queryParams]="{ name: 'oppo'}"><button
          class="btn btn-primary m-2">Show more</button></a>
    </div>
  </div>
</section>
<!--  Huawei -->
<section class="container text-center mb-4" *ngIf="huawei.length>1">
  <hr>
  <h3>Huawei</h3>
  <div class="row wow fadeIn">
    <div class="col-lg-3 col mb-2" *ngFor="let mobile of huawei | paginate: {
      itemsPerPage: 4, currentPage: p }">
      <div class="card">
        <a routerLink="/product/{{mobile._id}}"> <img
            src="{{mobile.stock[0].image}}" class="img" alt="{{mobile.name}}"></a>
        <h3>{{mobile.name}}</h3>
        <span><strong>{{mobile.stock[0].price}}$</strong></span>
        <span>
           <i class="fas fa-star text-warning " style="font-size: 20px;">{{mobile?.rates.length}}</i>
           <i (click)="handleAddProductToCard(mobile._id, mobile.stock[0]?.color)" class="fas fa-shopping-cart text-secondary ms-3 cartIcon "></i>
        </span>

      </div>
    </div>
    <div class="col-12">
      <a routerLink="/company" [queryParams]="{ name: 'huawei'}"><button
          class="btn btn-primary m-2">Show more</button></a>
    </div>
  </div>
</section>
<!--  Nokia -->
<section class="container text-center mb-4" *ngIf="nokia.length>1">
  <hr>
  <h3>Nokia</h3>
  <div class="row wow fadeIn">
    <div class="col-lg-3 col mb-2" *ngFor="let mobile of nokia | paginate: {
      itemsPerPage: 4, currentPage: p }">
      <div class="card">
        <a routerLink="/product/{{mobile._id}}"> <img
            src="{{mobile.stock[0].image}}" class="img" alt="{{mobile.name}}"></a>
        <h3>{{mobile.name}}</h3>
        <span><strong>{{mobile.stock[0].price}}$</strong></span>
        <span>
           <i class="fas fa-star text-warning " style="font-size: 20px;">{{mobile?.rates.length}}</i>
           <i (click)="handleAddProductToCard(mobile._id, mobile.stock[0]?.color)" class="fas fa-shopping-cart text-secondary ms-3 cartIcon "></i>
        </span>

      </div>
    </div>
    <div class="col-12">
      <a routerLink="/company" [queryParams]="{ name: 'nokia'}"><button
          class="btn btn-primary m-2">Show more</button></a>
    </div>
  </div>
</section>

</div>
