
<div id="wrapper" style="margin-top: -60px;">
  <app-sidebar></app-sidebar>
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <app-dash-nav></app-dash-nav>
      <div class="container-fluid">
        <h3 class="text-dark mb-4">Team</h3>
        <div class="card shadow">
          <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Employee Info</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 text-nowrap">
                <div id="dataTable_length" class="dataTables_length"
                  aria-controls="dataTable">
                  <label class="form-label">Show&nbsp;
                    <select  class="d-inline-block form-select form-select-sm"  [(ngModel)]="selectedLimit">
                      <option [value]='limit' *ngFor="let limit of limits">
                        {{limit}}
                      </option>
                    </select>
                    &nbsp;
                  </label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="text-md-end dataTables_filter"
                  id="dataTable_filter"><label class="form-label"><input
                      type="search" class="form-control form-control-sm"
                      aria-controls="dataTable" placeholder="Search"  [(ngModel)]="search_term" (ngModelChange)="handleSearch()"></label></div>
              </div>
            </div>
            <div class="table-responsive table mt-2" id="dataTable"
              role="grid"
              aria-describedby="dataTable_info">
               <div class="alert alert-primary m-2" *ngIf="!loading">Loading...</div>
              <table class="table my-0" id="dataTable" *ngIf="loading">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Start date</th>
                    <th>Modify</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of users | paginate: { itemsPerPage: selectedLimit, currentPage: p }">
                    <td ><img class="rounded-circle me-2" width="30"
                        height="30"
                        src="assets/img/avatars/avatar1.jpeg">{{item.name}}<span *ngIf="!item.userStatus" class="disable">Disabled</span></td>
                    <td>{{item.email}}</td>
                    <td>{{item.mobile}}</td>
                    <td>{{item.createdAt}}</td>
                    <td>
                      <button class="btn btn-primary btn-sm" (click)="enableUser(item._id)" *ngIf="!item.userStatus">Enable</button>
                      <button class="btn btn-outline-danger btn-sm" (click)="disableUser(item._id)" *ngIf="item.userStatus">Disable</button>
                    </td>
                  </tr>
                </tbody>
                <tfoot></tfoot>
              </table>
            </div>
            <div class="row">
              <div class="col-md-6 align-self-center">
                <p id="dataTable_info" class="dataTables_info" role="status"
                  aria-live="polite">Showing {{p}} to {{selectedLimit}} of {{users.length}}</p>
              </div>

              <div class="col-md-6">
                <nav class="d-lg-flex justify-content-lg-end
                  dataTables_paginate
                  paging_simple_numbers">

                  <div class="pagination">
                   	<pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </div>

                </nav>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
<!-- <div class="list">
		<ul>
			<li *ngFor="let item of users | paginate: { itemsPerPage: 1, currentPage: p }">{{ item.name }}</li>
		</ul>

		<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div> -->
