
<div class="container">
  <div class="card shadow-lg o-hidden border-0 my-5">
    <div class="card-body p-0">
      <div class="row">
        <div class="col-lg-5 d-none d-lg-flex">
          <div class="flex-grow-1 bg-register-image" style="background-image:
            url(&quot;assets/img/dogs/image2.jpeg&quot;);"></div>
        </div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h4 class="text-dark mb-4">Create an Account!</h4>
            </div>
            <form class="user" [formGroup]="register"
              (ngSubmit)="handleSubmit()">
              <div class="form-control-user alert alert-danger"*ngIf="msg">
                {{msg}}
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text form-control-user">Full name</span>
                <input type="text" class="form-control form-control-user"
                  placeholder="Full name"
                  formControlName="name">

                <div class="col-12 alert alert-danger form-control-user"
                  *ngIf="name?.invalid
                  &&(name?.dirty || name?.touched)">
                  <div *ngIf="name?.errors?.required">
                    Name is required
                  </div>
                </div>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text form-control-user">Email</span>
                <input type="email" class="form-control form-control-user"
                  placeholder="email@example.com"
                  formControlName="email">

                <div class="col-12 alert alert-danger form-control-user"
                  *ngIf="email?.invalid
                  &&(email?.dirty || email?.touched)">
                  <div *ngIf="email?.errors?.required">
                    Email is required
                  </div>
                  <div *ngIf="email?.errors?.email">
                    Email invalid format
                  </div>
                </div>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text form-control-user">Password</span>
                <input type="password" class="form-control form-control-user"
                  id="staticEmail" placeholder="******"
                  formControlName="password">

                <div class="col-12 alert alert-danger form-control-user"
                  *ngIf="password?.invalid
                  &&(password?.dirty || password?.touched)">
                  <div *ngIf="password?.errors?.required">
                    Password is required
                  </div>
                  <div *ngIf="password?.errors?.minLength">
                    Password must be more than 6 char
                  </div>
                </div>
              </div>


              <div class="input-group mb-3">
                <span class="input-group-text form-control-user">Mobile</span>
                <input type="text" class="form-control form-control-user"
                  placeholder="01234567890"
                  formControlName="mobile">

                <div class="col-12 alert alert-danger form-control-user"
                  *ngIf="mobile?.invalid
                  &&(mobile?.dirty || mobile?.touched)">
                  <div *ngIf="mobile?.errors?.required">
                    Mobile is required
                  </div>

                </div>
              </div>
              <div>
                <button class="btn btn-primary d-block btn-user w-100"
                  type="submit">Register Account</button>
                <hr><a class="btn btn-primary d-block btn-google btn-user w-100
                  mb-2" role="button"><i class="fab fa-google"></i>&nbsp;
                  Register
                  with Google</a><a class="btn btn-primary d-block btn-facebook
                  btn-user w-100" role="button"><i class="fab fa-facebook-f"></i>&nbsp;
                  Register with Facebook</a>
                <hr>
              </div>


            </form>

            <div class="text-center"><a class="small" routerLink="/user/login">Already
                have an account? Login!</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
