.navbar {
  background-color: black;
  opacity: 0.8;


}
.fixed-top{
  height: 60px;
}

@media only screen and (max-width: 993px) {

  .navbar>.container,
  .navbar>.container-fluid,
  .navbar>.container-sm,
  .navbar>.container-md,
  .navbar>.container-lg,
  .navbar>.container-xl,
  .navbar>.container-xxl {
    background-color: #333;
  }
  .flex-row {
    flex-direction: column !important;
  }

}


.profileImage{
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.logo{
  font-size: 30px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: rgb(6, 158, 120);
  text-shadow: 1px 1px #b3b1b1;
}
.logo:hover{
   font-size: 30px;
   font-family:'Segoe UI',
   Tahoma,
   Geneva,
   Verdana,
   sans-serif;
   font-weight: bold;
   color: rgb(166, 206, 196);
}


.cartSpan{
 width: 40px;
 height: 40px;
}

@media screen and (min-width:991px) {
  .counter {
    position: absolute;
    top: 35%;
  }

}
