 <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion
  bg-gradient-primary p-0 nav-left fixed-top" *ngIf="!arrowStatus">

  <div class="container-fluid d-flex flex-column p-0 left">
     <button class="navbar-toggler toggler-right " type="button" (click)="sidbarToggler()">
      <i class="fa fa-arrow-right" ></i>
    </button>
    <a class="navbar-brand nav-left-brand
      d-flex justify-content-center align-items-center sidebar-brand m-0"
      href="#">
      <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
      <div class="sidebar-brand-text mx-3"></div>
    </a>

    <hr class="sidebar-divider my-0">
    <ul class="navbar-nav text-light" id="accordionSidebar">
      <li class="nav-item"><a class="nav-link active" routerLink="/dashboard"><i
            class="fas fa-tachometer-alt"></i></a></li>
      <li class="nav-item"><a class="nav-link"
          routerLink="/dashboard/allProducts"><i class="fas fa-mobile"></i></a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/dashboard/allUsers"><i
            class="fas fa-users"></i></a>
      </li>
      <li class="nav-item"><a class="nav-link"
          routerLink="/dashboard/allRoutes"><i class="fas fa-paperclip"></i></a>
      </li>
      <li class="nav-item"><a class="nav-link"
          routerLink="/dashboard/allOrders"><i class="fas fa-shopping-basket"></i></a>
      </li>
    </ul>

  </div>

</nav>

 <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion
  bg-gradient-primary p-0 fixed-top" *ngIf="arrowStatus">

  <div class="container-fluid d-flex flex-column p-0">
    <button class="navbar-toggler toggler-left" type="button" (click)="sidbarToggler()">
      <i class="fa fa-arrow-left" ></i>
    </button>
    <a class="navbar-brand
      d-flex justify-content-center align-items-center sidebar-brand m-0"
      href="#">
      <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
      <div class="sidebar-brand-text mx-3"><span>Mobi-star</span></div>
    </a>
    <hr class="sidebar-divider my-0">
    <ul class="navbar-nav text-light" id="accordionSidebar">
      <li class="nav-item"><a class="nav-link active" routerLink="/dashboard"><i
            class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
      <li class="nav-item"><a class="nav-link"
          routerLink="/dashboard/allProducts"><i class="fas fa-mobile"></i><span>Stock</span></a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/dashboard/allUsers"><i
            class="fas fa-users"></i><span>Users</span></a>
      </li>
      <li class="nav-item"><a class="nav-link"
          routerLink="/dashboard/allRoutes"><i class="fas fa-paperclip"></i><span>
            Routes</span></a>
      </li>
      <li class="nav-item"><a class="nav-link"
          routerLink="/dashboard/allOrders"><i class="fas fa-shopping-basket"></i><span>
            Orders</span></a>
      </li>
    </ul>

  </div>

</nav>



