.login {
  background: linear-gradient(to right, #8300cd, #b800c4);
  color: #fff;
}

.logIcon {
  width: 200px;
  height: 200px;
  margin: 15px;

}

.input {
  max-width: 500px;
}

a {
  text-decoration: none;
  color: rgb(82, 194, 54);
  font-weight: bold;
}
