<section class="login text-center">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <h1 class="alert alert-warning m-2">Set new Password</h1>
        <div class="icon">
          <img class="logIcon"
            src="https://i.pinimg.com/originals/8b/44/51/8b4451665d6b2139e29f29b51ffb1829.png"
            />
        </div>
      </div>
      <div class="col-3"></div>
      <div class="col m-2">
        <div class="input">
          <form [formGroup]="setPass" class="form-group"
            (ngSubmit)="handleSubmit()">

            <div class="col-12 alert alert-danger form-control-user"
              *ngIf="msg">{{msg}}</div>


            <div class="input-group mb-3" *ngIf="getEmail">
              <span class="input-group-text">Email</span>
              <input type="text" class="form-control form-control-user"
                placeholder="email@example.com"
                formControlName="email">

              <div class="col-12 alert alert-danger form-control-user"
                *ngIf="email?.invalid
                &&(email?.dirty || email?.touched)">
                <div *ngIf="email?.errors?.required">
                  Email is required
                </div>
                <div *ngIf="email?.errors?.email">
                  Email invalid format
                </div>
              </div>
            </div>

            <div class="input-group mb-3" *ngIf="sentCode">
              <div class="col-12 alert alert-info form-control-user">Check your
                email we sent you the
                code</div>
              <span class="input-group-text">Code</span>
              <input type="text" class="form-control form-control-user"
                placeholder="Enter Code here"
                formControlName="code">
            </div>

            <div class="input-group mb-3" *ngIf="setNewPass">
              <span class="input-group-text">Password</span>
              <input type="password" class="form-control form-control-user"
                placeholder="Enter" formControlName="password">
              <div class="col-12 alert alert-danger form-control-user"
                *ngIf="password?.invalid
                &&(password?.dirty || password?.touched)">
                <div *ngIf="password?.errors?.required">
                  Password is required
                </div>
                <div *ngIf="password?.errors?.minLength">
                  Password must be more than 6 char
                </div>
              </div>
            </div>

            <button class="btn btn-success m-2" type="submit" *ngIf="getEmail">Search</button>
            <button class="btn btn-success m-2" type="button"
              (click)="handleCheckCode()" *ngIf="sentCode">Check</button>
            <button class="btn btn-success m-2" type="button"
              (click)="handleSetPassword()" *ngIf="setNewPass">Set</button>
          </form>
        </div>
      </div>
      <div class="form-group">
        <p className="forgot-password text-left">
          Have an account <a routerLink="/user/login">Login?</a>
        </p>
      </div>
    </div>
  </div>
</section>
